* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

body {
    background-color: black;
    position: relative;
    color: white;

}

img {
    display: flex;
    height: 78vh;
    width: 84wh;
}

.i1 {
    display: flex;
    align-items: center;



}

header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-right: 70px;
    width: 100vw;
    z-index: 1;
    gap: 100px;
    top: -35px;

}

h2 {
    font-size: 30px;
}

.Lup {
    display: flex;
    height: 40px;
    width: 40px;
}

.user {
    display: flex;
    height: 55px;
    width: 55px;
}

h1 {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: absolute;
    font-size: 67px;
    margin-top: 170px;
    padding-right: 150px;
}

.azul {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 230px;
    padding-right: 150px;
}

.caixa {
    background-color: blue;
    padding: 5px 60px;
    font-size: 10px;

}

.b1 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 280px;
    padding-right: 150px;
    font-size: 15px;
    opacity: 0.7;

}

.b2 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 330px;
    padding-right: 150px;
    font-size: 15px;
}

.c1 {
    width: 500px;
    font-size: 30px;
}

.b3 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 580px;
    padding-right: 260px;
    font-size: 70px;

}

.corac {
    height: 100px;
    width: 100px;
}

.b4 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 670px;
    padding-right: 280px;
    font-size: 18px;

}

.b5 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 800px;
    padding-right: 420px;
    font-size: 30px;
}

.play {
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.c2 {
    display: flex;
    gap: 20px;
    background: #1a58c4;
    background: linear-gradient(90deg, rgba(26, 88, 196, 1) 11%, rgba(212, 19, 189, 1) 51%, rgba(232, 103, 28, 1) 87%);
    width: 280px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.b6 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 800px;
    padding-right: 100px;
    font-size: 30px;

}

.next {
    height: 50px;
    width: 40px;
    margin-top: -1px;
}

.c3 {
    display: flex;
    gap: 20px;
    background: #1a58c4;
    background: linear-gradient(90deg, rgba(26, 88, 196, 1) 11%, rgba(212, 19, 189, 1) 51%, rgba(232, 103, 28, 1) 87%);
    width: 280px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

@media (max-width: 1024px) {
    img {
        display: flex;
        height: 60vh;
        width: 72vh;
        align-items: center;
        margin-top: 230px;
    }

    .i1 {
        margin-top: 1px;
    }

    /* .b1{
        background-color: rgb(0, 0, 0);
        width: 1px;
        height: 1px;
        position: absolute;
        transform: translate(-90%, -11000%);
    } */

    .Lup {
        margin-top: 10px;


    }

    .user {
        margin-top: 5px;
        margin-right: -70px;

    }

    header {
        gap: 22px;
        padding-right: 120px;

    }

    h2 {
        font-size: 20px;
    }

    h1 {
        font-size: 60px;
        margin-top: 85px;

        width: 80vh;
        padding-right: 200px;
    }

    .azul {
        margin-top: 150px;
        padding-right: 200px;
        gap: 10px;

    }

    .b1 {
        margin-top: 100px;
        font-size: 12px;
        padding-right: 500px;

    }

    .c1 {
        font-size: 20px;
        padding-right: 25px;
    }

    .b2 {
        position: absolute;
        transform: translate(80%, 270%);

        width: 500px;
        height: 200px;


    }

    .b5 {


        position: absolute;
        transform: translate(-5%, 100%);

    }

    .b6 {
        position: absolute;
        transform: translate(-47%, 220%);
    }

    h3 {
        position: absolute;
        transform: translate(140%, 500%);

    }

    .b4 {

        position: absolute;
        transform: translate(25%, 1200%);
    }

    .corac {

        position: absolute;
        transform: translate(48%, 260%);

    }

 .b3{
    position: absolute;
    transform: translate(-5%, 0%);
 }

}


@media (max-width: 480px) {

    header{
        gap: 20px;
        position: absolute;
        transform: translate(60%, 0%);
    }
    h1{
        font-size: 50px;
        
        
        position: absolute;
        transform: translate(5%, 0%); 
    }
    .azul{
        position: absolute;
        transform: translate(80%, -30%);
    }

    .c1{
        font-size: 25px;
        position: absolute;
        transform: translate(-20%, 200%);
    }
    .b1{
        
        width: 400px;
        height: 100px;
        position: absolute;
        transform: translate(-20%, -100%);
    }
    .b3{
        
        width: 300px;
        height: 300px;
        position: absolute;
        transform: translate(90%, 80%);
    }
    .c3{
        position: absolute;
        transform: translate(200%, 100%);
    }
    .c2{

        background-color: #1a58c4;
        position: absolute;
        transform: translate(130%, 100%);
    }
    h4{
        width: 300px;
        position: absolute;
        transform: translate(140%, 3600%);
    }


}