* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 20px;
}

body {
    background-color: black;
    position: relative;
    color: white;

}

img {
    display: flex;
    height: 78vh;
    width: 84wh;
}

.i1 {
    display: flex;
    align-items: center;



}

header {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding-right: 70px;
    width: 100vw;
    z-index: 1;
    gap: 100px;
    top: -35px;

}

h2 {
    font-size: 30px;
}

.Lup {
    display: flex;
    height: 40px;
    width: 40px;
}

.user {
    display: flex;
    height: 55px;
    width: 55px;
}

h1 {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    position: absolute;
    font-size: 67px;
    margin-top: 170px;
    padding-right: 150px;
}

.azul {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 230px;
    padding-right: 150px;
}

.caixa {
    background-color: blue;
    padding: 5px 60px;
    font-size: 10px;

}

.b1 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 280px;
    padding-right: 150px;
    font-size: 15px;
    opacity: 0.7;

}

.b2 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 60px;
    justify-content: flex-end;
    margin-top: 330px;
    padding-right: 150px;
    font-size: 15px;
}

.c1 {
    width: 500px;
    font-size: 30px;
}

.b3 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 580px;
    padding-right: 260px;
    font-size: 70px;

}

.corac {
    height: 100px;
    width: 100px;
}

.b4 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 670px;
    padding-right: 280px;
    font-size: 18px;

}

.b5 {
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 800px;
    padding-right: 420px;
    font-size: 30px;
}

.play {
    height: 50px;
    width: 40px;
    display: flex;
    align-items: center;
    margin-top: -2px;
}

.c2 {
    display: flex;
    gap: 20px;
    background: #1a58c4;
    background: linear-gradient(90deg, rgba(26, 88, 196, 1) 11%, rgba(212, 19, 189, 1) 51%, rgba(232, 103, 28, 1) 87%);
    width: 280px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.b6{
    display: flex;
    position: absolute;
    width: 100vw;
    gap: 30px;
    justify-content: flex-end;
    margin-top: 800px;
    padding-right: 100px;
    font-size: 30px;

}
.next{
    height: 50px;
    width: 40px;
    margin-top: -1px;
}
.c3{
    display: flex;
    gap: 20px;
    background: #1a58c4;
    background: linear-gradient(90deg, rgba(26, 88, 196, 1) 11%, rgba(212, 19, 189, 1) 51%, rgba(232, 103, 28, 1) 87%);
    width: 280px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}